<h2>Currency conversion:</h2>
<form #converterForm="ngForm">

   <mat-form-field>
     <mat-label>Enter the amount</mat-label>
     <input type="number" matInput
            [(ngModel)]="convertFromValue" #convertFrom="ngModel"
            (ngModelChange)="onConvertFromChange($event)"
            name="convertFrom" required>
     <mat-error *ngIf="convertFrom.errors?.['required']">The amount is mandatory.</mat-error>

   </mat-form-field>

   <mat-form-field>
     <mat-label>Convert from:</mat-label>
     <mat-select (click)="choosenCurrency(converterForm)" required>
       @for (value of currency; track currency) {
         <mat-option [value]="value.value">{{value.viewValue}}</mat-option>
       }
     </mat-select>
   </mat-form-field>
<!--
-->
  <mat-form-field>
    <mat-label>Result is:</mat-label>
    <input matInput type="number"
           [(ngModel)]="convertToValue" #convertTo="ngModel"
           (ngModelChange)="onConvertToChange($event)"
           name="convertTo">
    <mat-error *ngIf="convertTo.errors?.['pattern']">Only numbers are allowed.</mat-error>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Convert to:</mat-label>
    <mat-select required>
      @for (value of currency; track currency) {
        <mat-option [value]="value.value">{{value.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
<div class="form-val">
  {{' From: ' + convertFrom.value + ' ; to: ' + convertTo.value}}
</div>
