<h2>Currency conversion:</h2>
<form #converterForm="ngForm">

   <mat-form-field>
     <mat-label>Enter the amount</mat-label>
     <input type="number" matInput
            name = "convertFromValue"
            [(ngModel)]="convertFromValue" #convertFrom="ngModel"
            (ngModelChange)="onConvertFromChange()"
            required>
     <mat-error *ngIf="convertFrom.errors?.['required']">The amount is mandatory.</mat-error>

   </mat-form-field>

   <mat-form-field>
     <mat-label>Convert from:</mat-label>
     <mat-select
       [(ngModel)]="currencyFrom"
       name = 'currencyFrom'
                 required
       (ngModelChange)="onConvertFromChange()"
     >
       @for (element of currency; track element) {
         <mat-option [value]="element">{{element}}</mat-option>
       }
     </mat-select>
   </mat-form-field>
<!--
-->
  <mat-form-field>
    <mat-label>Result is:</mat-label>
    <input matInput type="number"

           [(ngModel)]="convertToValue"
           #convertTo="ngModel"
           (ngModelChange)="onConvertToChange()"
           name="convertTo">
  </mat-form-field>
  <mat-form-field >
    <mat-label>Convert to:</mat-label>
    <mat-select required
                [(ngModel)]="currencyTo"
                name="currencyTo"
                (ngModelChange)="onConvertToChange()">
      @for (element of currency; track element) {
        <mat-option [value]="element">{{element}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
<div class="footer-links">
  <a target="_blank" href="https://www.linkedin.com/in/anastasiia-zavorotynska-849972133/" title="Link to Linkedin">Anastasiia Zavorotynska</a>
  <br>
  <a target="_blank" href="https://github.com/tinazavr/currency-converter" title="Link to GitHub">GitHub</a>
</div>
